<tr>
    <th class="phpc-date" scope="row">
        {{ week_link(calendar.cid, start_date) }}
    </th>
    {% set cur_date = start_date %}
    {% for day_of_week in 0..6 %}
        <td class="phpc-date{% if not in_same_month(cur_date, date) %} phpc-shadow{% endif %}{% if is_today(cur_date) %} phpc-today{% endif %}">
            <div>
                <a class="phpc-day-number"
                   href="{{ path('day_view', {cid: calendar.cid}|merge(cur_date|dateparts)) }}"
                >{% if (not in_same_month(cur_date, date) and day_of_week == 0) or cur_date|day == 1 %}{{ cur_date|month_abbr }}{% endif %} {{ cur_date|day }}</a>
                {% if permissions.canCreate %}
                    <a href="{{ path('create_event', {cid: calendar.getCid}) }}" class="phpc-add"
                       title="{{ "create-event-menu-link"|trans }}"><i class="bi-plus"></i></a>
                {% endif %}
            </div>
            {% set days_occurrences = occurrences_for_date(occurrences, cur_date) %}
            {% if not days_occurrences is null %}
                <div class="occurrence-list list-group">
                    {% for occurrence in days_occurrences %}
                        {% if occurrence is null %}
                            <a href="{{ path('day_view', {cid: calendar.cid}|merge(cur_date|dateparts)) }}"
                               class="list-group-item">{{ "view-additional-events-link"|trans }}</a>
                        {% else %}
                            {% set textcolor = occurrence.textColor %}
                            {% set bgcolor = occurrence.bgColor %}
                            {% set event = occurrence.event %}
                            <a class="phpc-occurrence list-group-item"
                               href="{{ path('event_view', {'eid': event.eid}) }}"
                               style="{% if not textcolor is null %}color: {{ textcolor }} !important; {% endif %}{% if not bgcolor is null %}background: {{ bgcolor }} !important;{% endif %}"
                               data-bs-toggle="popover"
                               data-bs-trigger="hover"
                               data-bs-html=true
                               data-bs-placement="auto"
                               title="{{ event.subject }}"
                               data-bs-content="{{ "by-author"|trans({'%author%': event.owner.username }) }}{{ "\n\n" }}{{ event.description }}"
                            >
                                {% set time = occurrence.timeString %}
                                {% if not time is null %}
                                    {% if occurrence.start >= cur_date %}
                                        <span class="badge badge-default">{{ time }}</span>
                                    {% else %}
                                        <i class="bi-three-dots"></i>
                                    {% endif %}
                                {% endif %}
                                {{ event.subject }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </td>
        {% set cur_date = add_days(cur_date, 1) %}
    {% endfor %}
</tr>
