{% extends "base.html.twig" %}

{% block title %}{{ 'create-event-label'|trans }}{% endblock %}

{% block body %}
    <h3>{{ 'create-event-label'|trans }}</h3>
    {{ form_start(form) }}
    {{ form_row(form.subject) }}
    <div class="mb-3">
        <label class="form-label" for="form_description">{{ "description-label"|trans }} <a
                    href="http://commonmark.org/help/" target="_blank"><i class="bi-info-circle"></i></a></label>
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    {% if form.modify is defined %}
        {{ form_row(form.modify) }}
    {% endif %}
    <div id="time_data">
        <div class="mb-3">
            {{ form_row(form.time_type) }}
            {{ form_label(form.start) }}
            <div class="form-datetime">
                {{ form_widget(form.start) }}
                {{ form_errors(form.start) }}
            </div>
            <div class="form-date">
                {{ form_widget(form.start_date) }}
                {{ form_errors(form.start_date) }}
            </div>
        </div>
        <div class="mb-3">
            {{ form_label(form.end) }}
            <div class="form-datetime">
                {{ form_widget(form.end) }}
                {{ form_errors(form.end) }}
            </div>
            <div class="form-date">
                {{ form_widget(form.end_date) }}
                {{ form_errors(form.end_date) }}
            </div>
        </div>
        {{ form_row(form.repeats, {'attr': {'class': 'event-repeats'}}) }}
        <div id="repeat_data" class="mb-3">
            <div class="event-frequency">{{ form_row(form.frequency) }}</div>
            {{ form_row(form.until) }}
        </div>
    </div>
    {{ form_row(form.delay_publish) }}
    <div id="publish_data">
        {{ form_row(form.pubtime) }}
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block script %}
    <script>
        const type_selector = $('#event_form_time_type');

        function updateToFrom() {
            console.log("updating from...")
            if (type_selector.val() === '0') {
                $('.form-datetime').show();
                $('.form-datetime select').prop('disabled', false);
                $('.form-date').hide();
                $('.form-date select').prop('disabled', true);
            } else {
                $('.form-datetime').hide();
                $('.form-datetime select').prop('disabled', true);
                $('.form-date').show();
                $('.form-date select').prop('disabled', false);
            }
        }

        updateToFrom();
        type_selector.change(function () {
            updateToFrom();
        });
        {% if form.eid is defined %}
        // show hide time stuff with modify checkbox
        $('#time_data').toggle($('#event_form_modify').checked);
        $('#event_form_modify').click(function () {
            $('#time_data').toggle(this.checked);
        });
        {% endif %}

        // show/hide publish date with checkbox
        $('#publish_data').toggle($('#event_form_delay_publish').prop('checked') != false);
        $('#event_form_delay_publish').click(function () {
            $('#publish_data').toggle(this.checked);
        });

        const $repeat_selector = $('.event-repeats');
        const $repeat_data = $('#repeat_data');
        if ($repeat_selector.val() === '0') {
            $repeat_data.hide();
            $repeat_data.find("input").prop('disabled', true);
        } else {
            $repeat_data.show();
            $repeat_data.find("input").prop('disabled', false);
        }
        // When selected ...
        $repeat_selector.change(function () {
            console.log('changed...');
            var label = '';
            switch ($repeat_selector.val()) {
                case '0':
                    $repeat_data.hide();
                    $repeat_data.find("input").prop('disabled', true);
                    return;
                case 'D':
                    label = "{{ 'repeat-every-unit-question'|trans({'%unit%': 'days'|trans}) }}";
                    break;
                case 'W':
                    label = "{{ 'repeat-every-unit-question'|trans({'%unit%': 'weeks'|trans}) }}";
                    break;
                case 'M':
                    label = "{{ 'repeat-every-unit-question'|trans({'%unit%': 'months'|trans}) }}";
                    break;
                case 'Y':
                    label = "{{ 'repeat-every-unit-question'|trans({'%unit%': 'years'|trans}) }}";
                    break;
                default:
                    // invalid option
            }
            $repeat_data.show();
            $('.event-frequency label').html(label);
            $repeat_data.find("input").prop('disabled', false);
        });
    </script>
{% endblock %}