{% extends "base.html.twig" %}

{% block body %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="calendars-tab" data-bs-toggle="tab" data-bs-target="#calendars"
                    type="button" role="tab" aria-controls="calendars" aria-selected="true">
                {{ "calendars-label"|trans }}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users"
                    type="button" role="tab" aria-controls="users" aria-selected="false">
                {{ "users-label"|trans }}
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="calendars" role="tabpanel" aria-labelledby="calendars-tab">
            <h3>{{ "calendars-label"|trans }}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ "calendar-label"|trans }}</th>
                    <th scope="col">{{ "actions-label"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for calendar in get_calendars() %}
                    <tr>
                        <td>{{ calendar.title }}</td>
                        <td>
                            <a class="btn btn-primary settings-button"
                               href="{{ path('calendar_admin', {cid: calendar.cid}) }}"><i
                                        class="fas fa-wrench"></i> {{ "settings-button"|trans }}</a>
                            <a class="btn btn-primary"
                               href="{# {{ script }}?action=calendar_delete&amp;cid={{ calendar.getCid() }} #}"
                               data-toggle="confirmation" data-title="{{ "confirmation-required-dialog-title"|trans }}"
                               data-button-text="{{ "delete-button"|trans }}"
                               data-content="{{ "permanently-delete-calendar-question"|trans }}"><i
                                        class="fas fa-trash"></i> {{ "delete-button"|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{# {{ context.createUrl('create_calendar') }} #}"><i
                        class="fas fa-plus-square"></i> {{ "create-calendar-button"|trans }}</a>
        </div>

        <div class="tab-pane" id="users" role="tabpanel" aria-labelledby="users-tab">
            <h3>{{ "users-label"|trans }}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ "username-label"|trans }}</th>
                    <th scope="col">{{ "groups-label"|trans }}</th>
                    <th scope="col">{{ "actions-label"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in get_users() %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{# {{ user.getGroups|join(', ') }} #}</td>
                        <td>
                            <a class="btn btn-primary"
                               href="{# {{ context.createUrl('user_groups', {'uid': user.getUid}) }} #}">{{ "edit-groups-label"|trans }}</a>
                            {% if user.isDisabled %}
                                <a class="btn btn-primary" href="{{ path('enable_user', {'uid': user.uid}) }}">
                                    {{ "enable-user-label"|trans }}
                                </a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('disable_user', {'uid': user.uid}) }}">
                                    {{ "disable-user-label"|trans }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{ path('create_user') }}">
                <i class="bi bi-plus-square"></i> {{ "create-user-button"|trans }}
            </a>
        </div>
    </div>
{% endblock %}