{% extends "index.html.twig" %}

{% block body %}
  <ul class="nav nav-tabs" role="tablist">
  {% if user.isAdmin() %}
    <li class="nav-item"><a class="nav-link active" id="calendars-tab" data-toggle="tab" href="#calendars" role="tab" aria-controls="calendars">{{ "Calendars"|trans }}</a></li>
    <li class="nav-item"><a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users">{{ "Users"|trans }}</a></li>
  {% endif %}
  {% if calendar.canAdmin(user) %}
    <li class="nav-item"><a class="nav-link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar">{{ "Calendar Settings"|trans }}</a></li>
    <li class="nav-item"><a class="nav-link" id="calendar-users-tab" data-toggle="tab" href="#calendar-users" role="tab" aria-controls="calendar-users">{{ "Calendar Users"|trans }}</a></li>
  {% endif %}
  {% if calendar.canAdmin(user) %}
      
  {% endif %}
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade show active" id="calendars" role="tabpanel" aria-labelledby="calendars-tab">
      <h3>{{ "Calendars"|trans }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ "Calendar"|trans }}</th>
            <th scope="col">{{ "Actions"|trans }}</th>
          </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
          <tr>
            <td>{{ calendar.getTitle() }}</td>
            <td>
              <a class="btn btn-primary" href="{{ script }}?action=admin&amp;phpcid={{ calendar.getCid() }}#calendar_settings"><i class="fas fa-wrench"></i> {{ "Settings"|trans }}</a>
              <a class="btn btn-primary" href="{{ script }}?action=calendar_delete&amp;cid={{ calendar.getCid() }}"
                data-toggle="confirmation" data-title="{{ "Confirmation Required"|trans }}" data-button-text="{{ "Delete"|trans }}"
                data-content="{{ "Permanently delete this calendar?"|trans }}"><i class="fas fa-trash"></i> {{ "Delete"|trans }}</a>
              {% if calendar.getCid == context.db.getConfig('default_cid') %}
                <span>{{ "Default Calendar"|trans }}</span>
              {% else %}
                <a href="{{ action_url(context, 'default_calendar', {'cid': calendar.getCid}) }}" class="btn btn-primary">{{ "Make Default"|trans }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary" href="{{ script }}?action=calendar_create"><i class="fas fa-plus-square"></i> {{ "Create Calendar"|trans }}</a>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
      <h3>{{ "Users"|trans }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ "Username"|trans }}</th>
            <th scope="col">{{ "Groups"|trans }}</th>
            <th scope="col">{{ "Edit Groups"|trans }}</th>
            <th scope="col">{{ "Action"|trans }}</th>
          </tr>
        </thead>
        <tbody>
        {% for user in context.db.getUsers %}
          <tr>
            <td>{{ user.getUsername }}</td>
            <td>{{ user.getGroups|join(', ') }}</td>
            <td><a href="{{ action_url(context, 'user_groups', {'uid': user.getUid}) }}">{{ "Edit Groups"|trans }}</a></td>
            <td>
              {% if user.isDisabled %}
                <a href="{{ action_url(context, 'user_enable', {'uid': user.getUid}) }}">{{ "Enable User"|trans }}</a>
              {% else %}
                <a href="{{ action_url(context, 'user_disable', {'uid': user.getUid}) }}">{{ "Disable User"|trans }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
      <h3>{{ "Calendar Settings"|trans }}</h3>
      {{ form_start(calendar_form) }}
        {{ form_widget(calendar_form) }}
        <button type="submit" class="btn btn-primary">{{ "Update Calendar"|trans }}</button>
      {{ form_end(calendar_form) }}
    </div>

    <div role="tabpanel" class="tab-pane fade" id="calendar-users" role="tabpanel" aria-labelledby="calendar-users-tab">
      <h3>{{ "User Permissions For Calendar"|trans }}</h3>
      {{ form_start(user_form) }}
        {% for user_field in user_form.children %}
          {% if user_field.vars.name != '_token' %}
            <div class="form-group">
            {{ form_label(user_field) }}
            {% for perm in user_field.children %}
              <div class="form-check form-check-inline">
                {{ form_label(perm) }}
                {{ form_widget(perm) }}
                {{ form_errors(perm) }}
              </div>
            {% endfor %}
            {{ form_errors(user_field) }}
            </div>
          {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">{{ "Update Permissions"|trans }}</button>
      {{ form_end(user_form) }}
    </div>
  </div>
  

  <script>
    console.log("hash " + window.location.hash);
    $('.nav-tabs a[href="' + window.location.hash + '"]').tab('show');
  </script>
{% endblock %}