{% extends "index.html.twig" %}

{% block body %}
  {{ form_start(form) }}
    {{ form_row(form.subject) }}
    <div class="form-group">
      <label class="form-control-label" for="form_description">{{ "Description"|trans }} <a href="http://commonmark.org/help/" target="_blank">({{ "syntax"|trans }})</a></label>
      {{ form_errors(form.description) }}
      {{ form_widget(form.description) }}
    </div>
    {% if form.modify is defined %}
      {{ form_row(form.modify) }}
    {% endif %}
    <div id="time_data">
      {{ form_row(form.start) }}
      {{ form_row(form.end) }}
      {{ form_row(form.time_type) }}
      {{ form_row(form.repeats) }}
      <div id="repeat_data">
      {% if form.frequency is defined %}
        {{ form_row(form.frequency) }}
        {{ form_row(form.until) }}
      {% endif %}
      </div>
    </div>
  {{ form_end(form) }}

  <script>
    {% if form.eid is defined %}
      // show hide time stuff with modify checkbox
      $('#time_data').toggle(this.checked);
      $('#form_modify').click(function() {
        $('#time_data').toggle(this.checked);
      });
    {% endif %}

    var $repeat_selector = $('#form_repeats');
    var $repeat_data = $('#repeat_data');
    if ($repeat_selector.val() == '0') {
      $repeat_data.hide();
      $repeat_data.find("input").prop('disabled', true);
    } else {
      $repeat_data.show();
      $repeat_data.find("input").prop('disabled', false);
    }
    // When selected ...
    $repeat_selector.change(function() {
      console.log('changed...');
      var label = '';
      switch($repeat_selector.val()) {
        case '0':
          $repeat_data.hide();
          $repeat_data.find("input").prop('disabled', true);
          return;
        case 'D':
          label = "{{ "Repeat every how many days?"|trans }}";
					break;
				case 'W':
					label = "{{" Repeat every how many weeks?"|trans }}";
          break;
        case 'M':
					label = "{{" Repeat every how many months?"|trans }}";
          break;
        case 'Y':
					label = "{{" Repeat every how many years?"|trans }}";
          break;
        default:
          // invalid option
      }
      $repeat_data.show();
      $('label[for="form_frequency"]').html(label);
      $repeat_data.find("input").prop('disabled', false);
    });
  </script>
{% endblock %}