<!doctype html>
<html lang="{{ context.getLang() }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{ title }}</title>
	<link rel="icon" href="static/office-calendar.png">
	<link rel="stylesheet" href="static/phpc.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.14/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		{% if calendars|length > 1 %}
		<div class="nav-item dropdown">
			<a href="#" class="navbar-brand dropdown-toggle" id="phpcTitle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ calendar.get_title() }}</a>
			<div class="dropdown-menu" aria-labelledby="phpcTitle">
			{% for cal in calendars %}
				<a class="dropdown-item" href="{{ script }}?phpcid={{ cal.getCID() }}">{{ cal.getTitle() }}</a>
			{% endfor %}
			</div>
		</div>
		{% else %}
		<a href="{{ script }}?phpcid={{ calendar.getCID() }}"
		class="navbar-brand">{{ calendar.getTitle() }}</a>
		{% endif %}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#phpc-navbar" aria-controls="phpc-navbar" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="phpc-navbar">
			<ul class="navbar-nav">
				{% if calendar.canWrite(user) %}
					{{ menu_item(context, "event_form", "Create Event"|trans) }}
				{% endif %}
				{{ menu_item(context, "search", "Search"|trans) }}
				{{ menu_item(context, "display_month", "View Month"|trans) }}
				{% if action == "display_event" %}
					{{ menu_item(context, "display_day", "View date"|trans) }}
				{% endif %}
				{% if calendar.canAdmin(user) %}
					{{ menu_item(context, "cadmin", "Calendar Admin"|trans) }}
				{% endif %}
				{% if user.isAdmin() %}
					{{ menu_item(context, "admin", "Admin"|trans) }}
				{% endif %}
				{% if not user.isUser() %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-language"></i> {{ "Language"|trans }} ({{ context.getLang() }})</a>
						<div class="dropdown-menu" aria-labelledby="langDropdown">
							{% for lang in languages %}
								<a class="dropdown-item" href="{{ change_lang_url(context.request, lang) }}">{{ lang }}</a>
							{% endfor %}
						</div>
					</li>
				{% endif %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> {{ user.getUsername() }}</a>
					<div class="dropdown-menu" aria-labelledby="userDropdown">
						<a class="dropdown-item" href="{{ action_url(context, "user_settings") }}"><i class="fas fa-cog"></i> {{ "Settings"|trans }}</a>
						{% if user.isUser() %}
						<a class="dropdown-item" href="{{ action_url(context, "logout") }}&amp;lasturl={{ query_string|url_encode }}"><i class="fas fa-sign-out-alt"></i> {{ "Log out"|trans }}</a>
						{% else %}
						<a class="dropdown-item" href="{{ action_url(context, "login") }}&amp;lasturl={{ query_string|url_encode }}"><i class="fas fa-sign-in-alt"></i> {{ "Log in"|trans }}</a>
						{% endif %}
					</div>
				</li>
			</ul>
		</div>
	</nav>

	{% for message in messages %}
		<div class="alert alert-primary alert-dismissible fade show" role="alert">
  			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}

	<div class="phpc-body container-fluid">
	{% block body %}{% endblock %}
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js" integrity="sha256-ltAts6+/XysEs9E5RF/t0H+0eD3ET6NpbqzshWkqeic=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.14/jquery.datetimepicker.full.min.js" integrity="sha256-kGQQU5sMKnqEktNzLSDlAKtXm7SClX2k9oj4ROLP9E0=" crossorigin="anonymous"></script>
	<script src="static/phpc.js"></script>
	{% if embed %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="static/embed.js"></script>
	{% endif %}
</body>
</html>
