<!doctype html>
<html lang="{{ lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{ title }}</title>
	<link rel="icon" href="static/office-calendar.png">
	<link rel="stylesheet" href="static/phpc.css">
	<link rel="stylesheet" href="static/jquery-ui-timepicker.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome{{ minified }}.css">
	<link rel="stylesheet" href="static/farbtastic.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		{% if calendars|length > 1 %}
		<div class="nav-item dropdown">
			<a href="#" class="navbar-brand dropdown-toggle" id="phpcTitle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ calendar.get_title() }}</a>
			<div class="dropdown-menu" aria-labelledby="phpcTitle">
			{% for cal in calendars %}
				<a class="dropdown-item" href="{{ script }}?phpcid={{ cal.get_cid() }}">{{ cal.get_title() }}</a>
			{% endfor %}
			</div>
		</div>
		{% else %}
		<a href="{{ script }}?phpcid={{ calendar.get_cid() }}"
		class="navbar-brand">{{ calendar.get_title() }}</a>
		{% endif %}
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav">
				{% if calendar.can_write(user) %}
					{{ menu_item(context, "create_event", "Create Event"|trans)|raw }}
				{% endif %}
				{{ menu_item(context, "search", "Search"|trans)|raw }}
				{{ menu_item(context, "display_month", "View Month"|trans)|raw }}
				{% if action == "display_event" %}
					{{ menu_item(context, "display_day", "View date"|trans)|raw }}
				{% endif %}
				{% if calendar.can_admin(user) %}
					{{ menu_item(context, "cadmin", "Calendar Admin"|trans)|raw }}
				{% endif %}
				{% if user.is_admin() %}
					{{ menu_item(context, "admin", "Admin"|trans)|raw }}
				{% endif %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ fa("user")|raw }}{{ user.get_username() }}</a>
					<div class="dropdown-menu" aria-labelledby="userDropdown">
						<a class="dropdown-item" href="{{ action_url(context, "user_settings") }}">{{ fa("cog")|raw }} {{ "Settings"|trans }}</a>
						{% if user.is_user() %}
						<a class="dropdown-item" href="{{ action_url(context, "logout") }}&amp;lasturl={{ query_string|url_encode }}">{{ fa("sign-out")|raw }} {{ "Log out"|trans }}</a>
						{% else %}
						<a class="dropdown-item" href="{{ action_url(context, "login") }}&amp;lasturl={{ query_string|url_encode }}">{{ fa("sign-in")|raw }} {{ "Log in"|trans }}</a>
						{% endif %}
					</div>
				</li>
			</ul>
		</div>
	</nav>
	{% if messages|length > 0 %}
		<div>
		{% for message in messages %}
			{{ message }}
		{% endfor %}
		</div>
	{% endif %}
	<div class="phpc-body container-fluid">
	{% block body %}{% endblock %}
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="static/phpc.js"></script>
    <script src="static/jquery.ui.timepicker.js"></script>
	<script src="static/farbtastic.min.js"></script>
	{% if embed %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="static/embed.js"></script>
	{% endif %}
</body>
</html>
