{% extends "base.html.twig" %}

{% block body %}
    <h2>PHP-Calendar Installation</h2>
    {{ form_start(form) }}
      {{ form_row(form.db_hostname) }}
      {{ form_row(form.db_name) }}
      {{ form_row(form.db_prefix) }}
      {{ form_row(form.db_username) }}
      {{ form_row(form.db_password) }}
      {# offer to create db or drop tables here #}
      {{ form_row(form.cal_name) }}
      {{ form_row(form.cal_display_name) }}
      {{ form_row(form.cal_user) }}
      {{ form_row(form.cal_password) }}
    {{ form_end(form) }}
{% endblock %}
