{% extends "index.html.twig" %}

{% block body %}
    <h3>{{ "search-label"|trans }}</h3>
    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
        {{ form_widget(form) }}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
		    <i class="fas fa-search"></i> {{ "search-button"|trans }}
	    </button>
    {{ form_end(form) }}

    {% if results %}
        <table>
            <thead>
                <tr>
                    <th>{{ "subject-label"|trans }}</th>
                    <th>{{ "date-time-label"|trans }}</th>
                    <th>{{ "description-label"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td><a href="{{ context.createEventUrl('display_event', result.eid) }}">{{ result.subject }}</a></td>
                    <td>{{ result.when }}</td>
                    <td>{{ result.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>{{ "No events matched your search criteria."|trans }}</div>
    {% endif %}
{% endblock %}