{% extends "index.html.twig" %}

{% block body %}
  <h3>{{ "create-user-label"|trans }}</h3>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square"></i> {{ "create-user-button"|trans }}</button>
  {{ form_end(form) }}
{% endblock %}