<tr>
    <th class="phpc-date" scope="row">
        {{ start_date|week_link(context) }}
    </th>
	{% set cur_date = start_date %}
    {% for day_of_week in 0..6 %}
    <td class="phpc-date{% if not is_date_in_month(context, cur_date) %} phpc-shadow{% endif %}{% if is_today(cur_date) %} phpc-today{% endif %}">
	    <div>
		    <a class="phpc-day-number" href="{{ action_date_url(context, 'display_day', cur_date) }}">{% if (not is_date_in_month(context, cur_date) and day_of_week == 0) or day(cur_date) == 1 %}{{ cur_date|month_abbr }}{% endif %} {{ day(cur_date) }}</a>
		    {% if can_write(user, calendar) %}
		    <a href="{{ action_date_url(context, 'event_form', cur_date) }}" class="phpc-add" title="{{ "Create Event"|trans }}"><i class="fas fa-plus"></i></a>
		    {% endif %}
	    </div>
	    {% set days_occurrences = occurrences_for_date(occurrences, cur_date) %}
	    {% if not days_occurrences is null %}
		    <div class="occurrence-list list-group">
		    {% for occurrence in days_occurrences %}
			    {% if occurrence is null %}
					<a href="{{ action_date_url(context, 'display_day', cur_date) }}" class="list-group-item">{{ "View Additional Events"|trans }}</a>
			    {% else %}
				    {% set textcolor = occurrence.getTextColor() %}
				    {% set bgcolor = occurrence.getBgColor() %}
				    <a class="phpc-occurrence list-group-item" href="{{ action_event_url(context, 'display_event', occurrence.getEID()) }}"
						style="{% if not textcolor is null %}color: {{ textcolor }} !important; {% endif %}{% if not bgcolor is null %}background: {{ bgcolor }} !important;{% endif %}"
						data-toggle="popover" data-trigger="hover" data-html=true data-placement="auto"
						title="{{ occurrence.getSubject() }}" 
						data-content="{{ "by"|trans }} {{ occurrence.getAuthor() }}{{ "\n\n" }}{{ occurrence.getDescription() }}">
				    {% set time = occurrence.getTimeString() %}
				    {% if not time is null %}
					    {% if occurrence.getStart() >= cur_date %}
						    <span class="badge badge-default">{{ time }}</span>
					    {% else %}
						    <i class="fas fa-ellipsis-h"></i>
					    {% endif %}
				    {% endif %}
				    {{ occurrence.getSubject() }}
				    </a>
			    {% endif %}
		    {% endfor %}
		    </div>
	    {% endif %}
    </td>
        {% set cur_date = add_days(cur_date, 1) %}
    {% endfor %}
</tr>
