<tr>
    <th class="phpc-date" scope="row">
    	{% autoescape false %}
        {{ week_link(context, start_date) }}
        {% endautoescape %}
    </th>
    {% for day_of_week in 0..6 %}
    <td>
	    <div class="phpc-date{% if not is_date_in_month(context, start_date) %} phpc-shadow{% endif %}{% if is_today(start_date) %} ui-state-highlight{% endif %}">
		    <a href="{{ action_date_url(context, 'display_day', start_date) }}">{{ day(start_date) }}</a>
		    {% if can_write(user, calendar) %}
		    <a href="{{ action_date_url(context, 'event_form', start_date) }}" class="phpc-add" title="{{ "Create Event"|trans }}"><i class="fas fa-plus"></i></a>
		    {% endif %}
	    </div>
	    {% set days_occurrences = occurrences_for_date(occurrences, start_date) %}
	    {% if not days_occurrences is null %}
		    <div class="list-group">
		    {% for occurrence in days_occurrences %}
			    {% if occurrence is null %}
					<a href="{{ action_date_url(context, 'display_day', start_date) }}" class="list-group-item">{{ "View Additional Events"|trans }}</a>
			    {% else %}
				    {% set textcolor = occurrence.getTextColor() %}
				    {% set bgcolor = occurrence.getBgColor() %}
				    <a class="list-group-item" href="{{ action_event_url(context, 'display_event', occurrence.getEID()) }}"
						style="{% if not textcolor is null %}color: {{ textcolor }} !important;{% endif %}{% if not bgcolor is null %}background: {{ bgcolor }} !important;{% endif %}"
						data-toggle="popover" data-trigger="hover" data-html=true data-placement="auto"
						title="{{ occurrence.getSubject() }}" 
						data-content="{{ "by"|trans }} {{ occurrence.getAuthor() }}<br>{{ occurrence.getDescription() }}">
				    {% set time = occurrence.getTimeString() %}
				    {% if not time is null %}
					    {% if occurrence.getStart() >= start_date %}
						    <span class="badge badge-default">{{ time }}</span>
					    {% else %}
						    <i class="fas fa-ellipsis-h"></i>
					    {% endif %}
				    {% endif %}
				    {{ occurrence.getSubject() }}
				    </a>
			    {% endif %}
		    {% endfor %}
		    </ul>
	    {% endif %}
    </td>
        {% set start_date = add_days(start_date, 1) %}
    {% endfor %}
</tr>
